<div align="center"><h3>Showing details for technician <%= @tech.fullname %></h3></div>

Fistname: <%= @tech.firstname %><br />
Lastname: <%= @tech.lastname  %><br />
Open repair orders: OPEN REPAIR ORDERS<br />
Completed repairs: COMPLETED REPAIRS<br />

<h4>Open repair orders at a glance:</h4>
