<% title "Viewing all my cars" %>

<% if @cars.empty? %>

	<div align="center">
		<h3>Looks like you don't have any cars entered yet!</h3>
		<h3>Enter a new car here</h3>
	<div>

<% else %>
<br>
	<div align="center">
		<h3>Displaying all cars</h3>
	</div>
<br>
	<% @cars.each do |car| %>
	<div class="row">
		<div class="col-md-3">
			<%= car.ymm %><br />
		</div>

		<div class="col-md-3">
			<%= link_to "Edit this car", edit_customer_car_path(current_customer.id, car) %>
		</div>

		<div class="col-md-3">
			<%= link_to "Open a repair request for this car", new_customer_car_repair_path(current_customer.id, car.id) %>
		</div>

		<div class="col-md-3">
			<%= link_to "View all repairs for this car", customer_car_repairs_path(current_customer.id, car.id) %>
		</div>
	<% end %>

<% end %>